doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Homework 9
  link(rel='stylesheet' href='./css/main.min.css')
header.header
  .header-wrepper
    .over-title
      .strange-word DREAMSHARE
      .log-sign
        buton.log-in Log in
        buton.sign-up Sign up
    h1.header-title SHARE YOUR HOLIDAY DREAM
    p.header-text And find the perfect partner to fullfill it
    button.header-button Find your holiday partner
main.main
  section.section-how-works
    h2.section-how-works-title How Dreamshare works?
    .section-how-works-steps
      .section-how-works-step(style='background-image: url(./images/Step_image1.png);')
        .content-step
          button.button-step STEP 1
          h3.title-step Sed leo enim, condimentum
          p.text-step
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
            | rhoncus a leo sit amet facilisis.
      .section-how-works-step(style='background-image: url(./images/Step_image2.png);')
        .content-step
          button.button-step STEP 2
          h3.title-step Morbi velit risus
          p.text-step
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
            | porttitor est.
      .section-how-works-step(style='background-image: url(./images/Step_image3.png);')
        .content-step
          button.button-step STEP 3
          h3.title-step Sed leo enim, condimentum
          p.text-step
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
            | rhoncus a leo sit amet facilisis.
  section.section-partners
    h2.section-partner-title Meet a partner for your best holiday
    .list-partners
      .partner
        .photo-partner
          img(style='border-radius: 60px;' src='./images/Bitmap1.png' alt='')
          .partner-interest(style='background-color: \
          #FF4E50;')
            img(src='./images/music.svg' alt='')
        h4.name-partner Bradley Hunter
        p.about-partner Based in Chicago. I love playing tennis and loud music.
      .partner
        .photo-partner
          img(style='border-radius: 60px;' src='./images/Bitmap2.png' alt='')
          .partner-interest(style='background-color: \
          #19D4CA;')
            img(src='./images/brush.svg' alt='')
        h4.name-partner Marie Bennett
        p.about-partner Currently living in Colorado. Lover of art, languages and travelling.
      .partner
        .photo-partner
          img(style='border-radius: 60px;' src='./images/Bitmap3.png' alt='')
          .partner-interest(style='background-color: \
          #FFA710;')
            img(src='./images/camera.svg' alt='')
        h4.name-partner Diana Wells
        p.about-partner
          | Living in Athens, Greece. I love black and white classics, chillout music
          | and green tea.
      .partner
        .photo-partner
          img(style='border-radius: 60px;' src='./images/Bitmap4.png' alt='')
          .partner-interest(style='background-color: \
          #667DF3;')
            img(src='./images/airplane.svg' alt='')
        h4.name-partner Christopher Pierce
        p.about-partner Star Wars fanatic. I have a persistent enthusiasm to create new things.
    button.see-other See other partners
  section.section-ideas-holiday
    h2.section-idea-title Discover holiday activity ideas
    .ideas
      .single-width-block(style='background-image: url(./images/Sport.png);')
        p.idea-title Sports and Activis
      .single-width-block(style='background-image: url(./images/Health.png);')
        p.idea-title Wellness and Health
      .single-width-block(style='background-image: url(./images/Extreme.png);')
        p.idea-title
          | Extreme Sports
          | and Expeditions
      .single-width-block(style='background-image: url(./images/Games.png);')
        p.idea-title Games
      .double-width-block(style='background-image: url(./images/Culture.png);')
        p.idea-title Culture and Education
      .double-width-block(style='background-image: url(./images/Enjomet.png); background-position: left;')
        p.idea-title Enjomet and Relaxation
      .single-width-block(style='background-image: url(./images/Trevelling.png); background-position: left;')
        p.idea-title Trevelling
  section.search-partners
    h2.search-partners-title Crate your holiday activity
    p.question Hi! What are your holiday interests?
    input.input-search(type='text' placeholder='Enter your insterests')
    button.button-search Search partners
footer.footer
  .footer-wrepper
    .footer-content
      p.footer-dreamshare DREAMSHARE
    .footer-content
      .footer-title Company
      ul.footer-title-list
        li About
        li Contact
        li Press
        li Blog
        li Terms and Privacy
        li Help
    .footer-content
      .footer-title Partners
    .footer-content
      .footer-disigned-by
        p.text-disigned-by DESIGNED BY
        img(src='./images/Areto.svg' alt='')
